
@fonteprincipal: 'Roboto', sans-serif;
@fontetitulo: 'Lobster', cursive;
@cordotexto: #fff;
@cordefundo: #eb3b5a;

body {
    background-color: @cordefundo;
    font-family: @fonteprincipal;
    color: @cordotexto;
}

h1 {
    font-family: @fontetitulo;
    font-size: 3em;
}